[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/gwdg/puppetlabs-puppetdb.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/gwdg/puppetlabs-inifile.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/gwdg/puppetlabs-stdlib.git
[submodule "postgresql"]
	path = postgresql
	url = https://pkasprzak@github.com/gwdg/puppetlabs-postgresql.git
[submodule "concat"]
	path = concat
url=https://github.com/gwdg/puppetlabs-concat.git
[submodule "apt"]
	path = apt
	url = https://github.com/gwdg/puppetlabs-apt.git
